html><html><head><meta charset="utf8"><style type="text/css">





#one img {
    width: 352px;
    height: 205px;
    border-radius: 5%;
    margin-top: 5px;
}



#form1 {
    margin-top: 5%;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

#cvbody {
    background-color: #9fdfbf;
}

</style></head></html>